<mat-progress-bar [mode]="loading? 'indeterminate':'Determinate'" class="dialog-progress-bar" color="Primary">
</mat-progress-bar>
<span mat-dialog-title style="text-align:center">
  {{l("ChangePassword")}}
</span>
<mat-dialog-content class="dialog-content">
  <form id="ngForm" #changePasswordForm="ngForm" class="form-container" novalidate (ngSubmit)="save(changePasswordForm)">
    <mat-form-field class="full-width form-field">
      <input matInput ngModel name="currentPassword" placeholder="{{l('CurrentPassword')}}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="password" required matInput ngModel name="newPassword" #newPassword="ngModel" placeholder="{{l('NewPassword')}}" validateEqual="newPasswordRepeat"
        [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
        [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
        [requiredLength]="passwordComplexitySetting.requiredLength" required>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireDigit">
        {{l("PasswordComplexity_RequireDigit_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireLowercase">
        {{l("PasswordComplexity_RequireLowercase_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireUppercase">
        {{l("PasswordComplexity_RequireUppercase_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireNonAlphanumeric">
        {{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requiredLength">
        {{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width form-field">
      <input required ngModel type="password" name="newPasswordRepeat" matInput placeholder="{{l('NewPasswordRepeat')}}" validateEqual="newPassword"
        [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
        [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
        [requiredLength]="passwordComplexitySetting.requiredLength" required>
      <mat-error *ngIf="changePasswordForm.form.hasError('required','usernameOrEmailAddress')">
        {{l("Required")}}
      </mat-error>
    </mat-form-field>
    {{newPassword.errors | json}}
  </form>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button [disabled]="loading" color="accent" mat-dialog-close>{{l('Cancel')}}</button>
  <button mat-raised-button [disabled]="loading" color="accent" (click)="save()">{{l('Save')}}</button>
</mat-dialog-actions>
