<mat-toolbar color="primary" class="topbar">
  <button mat-icon-button id="sidenavToggle" (click)="toggleSidenav()" matTooltip="Toggle Hide/Open">
    <mat-icon>menu</mat-icon>
  </button>

  <button *ngIf="sidenav.opened" mat-icon-button id="collapseToggle" fxHide.lt-md (click)="toggleCollapse()" matTooltip="Toggle Collapse"
    class="toggle-collapsed">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <span fxFlex></span>
  <!-- <mat-form-field style="width:100px;">
    <mat-select>
      <mat-option *ngFor="let language of languages" [value]="language.name">
        <span [class]="language.icon"></span> {{language.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field class="top-language-select-container">
    <mat-select #languageSelect="matSelect" [(ngModel)]="currentLanguage">
      <mat-select-trigger>{{ languageSelect.selected?.value.displayName}}</mat-select-trigger>
      <mat-option *ngFor="let language of languages" [value]="language">
        <span [class]="language.icon"></span>
        {{ language.displayName }}
      </mat-option>
    </mat-select>
    <span matPrefix [class]="languageSelect.selected?.value.icon"></span>
  </mat-form-field>
  <!-- Theme Switcher -->
  <app-shared-theme-switcher class="topbar-button-left">
  </app-shared-theme-switcher>
</mat-toolbar>
