<mat-progress-bar [mode]="loading? 'indeterminate':'Determinate'" class="dialog-progress-bar" color="Primary">
</mat-progress-bar>
<span mat-dialog-title style="text-align:center" *ngIf="language.id">{{l("EditLanguage")}}: {{language.name}}</span>
<span mat-dialog-title style="text-align:center" *ngIf="!language.id">{{l("CreateNewLanguage")}}</span>
<mat-dialog-content>
  <mat-form-field class="full-width form-field">
    <input matInput placeholder="{{emptyText}}" aria-label="flagicons" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let flag of flags" [value]="flag.value">
        <span [class]="flag.value"></span>
        <span>{{flag.displayText}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
