/*---- Common -----*/
.full-width {
    width: 100% !important;
}

.form-field .mat-form-field-subscript-wrapper
{
   overflow: visible !important;
}

.text-center {
    text-align: center;
}

/*table header actions css*/
.actions-padding{
  padding-left:7px;
}


