html {
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: .875rem;
    color: rgba(0, 0, 0, .87);
    line-height: 1.5;
    font-family: "Roboto", Helvetica Neue, sans-serif;
}

div {
    box-sizing: border-box;
}


/*--------- Material ---------*/

mat-list a[mat-list-item] .mat-list-item-content,
mat-list mat-list-item .mat-list-item-content,
mat-nav-list a[mat-list-item] .mat-list-item-content,
mat-nav-list mat-list-item .mat-list-item-content,
[mat-menu-item],
.mat-option,
body .mat-select-trigger {
    font-size: .875rem !important;
}


/*--------- Material Table row-height ---------*/

.mat-row {
    min-height: 40px !important;
}
/*--------- mat-tab-label ---------*/

.mat-tab-label {
    height: 40px !important;
}
