<mat-card class="tenants-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="icon-card-header">public</mat-icon>
    </div>
    <mat-card-title>{{l("Tenants")}}</mat-card-title>
    <mat-card-subtitle>{{l("TenantsHeaderInfo")}}</mat-card-subtitle>
  </mat-card-header>
  <!-- #tenantsForm="ngForm"  -->
  <form #tenantsForm="ngForm" novalidate (ngSubmit)="getTenants()" fxLayout="row" fxLayoutWrap>
    <mat-form-field class="form-field" fxFlex="50">
      <mat-icon matPrefix>person</mat-icon>
      <input matInput [(ngModel)]="filters.filterText" name="filterText"
        placeholder="{{l('SearchWithThreeDot')}}">
    </mat-form-field>
    <mat-form-field class="form-field" fxFlex="50">
      <mat-icon matPrefix>person</mat-icon>
      <input matInput [(ngModel)]="filters.filterText" name="filterText"
        placeholder="{{l('SearchWithThreeDot')}}">
    </mat-form-field>
    <!-- <mat-form-field class="form-field" fxFlex="50">
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="userNameOrEmailAddress"
        placeholder="{{l('UserNameOrEmail')}}">
    </mat-form-field> -->
  </form>
</mat-card>
