<mat-card class="tenants-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="icon-card-header">public</mat-icon>
    </div>
    <mat-card-title>{{l("Tenants")}}</mat-card-title>
    <mat-card-subtitle>{{l("TenantsHeaderInfo")}}</mat-card-subtitle>
  </mat-card-header>
  <!-- #tenantsForm="ngForm"  -->
  <form #tenantsForm="ngForm" [formGroup]="tenantsGroup" novalidate (ngSubmit)="getTenants()" fxLayout="row" fxLayoutAlign="space-evenly center"
    fxLayoutWrap>
    <mat-form-field class="form-field" fxFlex="45" fxFlex.lt-md="100">
      <input matInput formControlName="filterText" placeholder="{{l('SearchWithThreeDot')}}">
      <button mat-raised-button color="accent" matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-field" fxFlex="45" fxFlex.lt-md="100">
      <input type="text" formControlName="selectedEdition"
                         placeholder="Pick one" aria-label="edition"
                         matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let edition of filteredEditions" [value]="edition">
          {{edition.displayText}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- <mat-form-field class="form-field" fxFlex="45">
      <mat-icon matPrefix>person</mat-icon>
      <input matInput [(ngModel)]="filters.filterText" name="filterText"
        placeholder="{{l('SearchWithThreeDot')}}">
    </mat-form-field> -->
    <!-- <mat-form-field class="form-field" fxFlex="50">
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="userNameOrEmailAddress"
        placeholder="{{l('UserNameOrEmail')}}">
    </mat-form-field> -->
  </form>
</mat-card>
<div>{{filters | json}}</div>
<div>{{tenantsForm.value | json}}</div>
